body {
    background-color: #333;
    color: #DDD;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url(noise.png);
    background-size: contain;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.7em;
}

footer *:link,
footer *:visited {
    color: white;
    text-decoration: none;
}

#container {
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    background-color: #666;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #858585;
    border-top-width: 0px;
}

#linkBox ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.linkBoxItem {
    display: inline-block;

    padding: 8px;

}






#linkBox ul a:link,
#linkBox ul a:visited {
    color: #333;
    text-align: center;
}

.linkBoxItem img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: #BBB;
    border-radius: 8px;
    margin: auto 11px;

}

@keyframes linkHover {
    from {
        background-color: #bbb;
    }

    to {
        background-color: #949494;
    }
}

.linkBoxItem img:hover,
.linkBoxItem img:active {
    animation: linkHover 0.5s ease;
    background-color: #949494;
}

.linkBoxItemText {
    margin-top: 0.2em;
    color: #E3E3E3;
}