body {
    background-color: #333;
    color: #DDD;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.noise {
    background-image:
      url('noise.svg');

      background-size:128px;
      display:flex;
      position:fixed;
      width: 100%;
      height: 100%;
      filter: blur(1.5px);
      z-index: -88;
      opacity: 50%;
  }

.background {
    background-color:#000000;
    display:flex;
    position:fixed;
    width: 100%;
    height: 100%;
    filter: blur(1.5px);
    z-index: -89;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.7em;
}

footer *:link,
footer *:visited {
    color: white;
    text-decoration: none;
}

#container {
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    background-color: #666;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #858585;
    border-top-width: 0px;
}

#linkBox ul {
    list-style: none;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    text-align:justify;
    -moz-text-align-last: justify;
    text-align-last:justify;
}

.linkBoxItem {
    display: inline-block;
    text-align-last: auto;
    padding: 4px;

}



.LinkBoxLink:link,
.LinkBoxLink:visited {
    color: #333;
    text-align: center;
    display: inline-block;
}

.linkBoxItemImageContainer {
    display: block;
    width: 120px;
    height: 120px;
    background-color: #BBB;
    border-radius: 8px;
    margin: auto 11px;
    display: flex;

}

@keyframes linkHover {
    from {
        background-color: #bbb;
    }

    to {
        background-color: #949494;
    }
}

.linkBoxItemImageContainer:hover,
.linkBoxItemImageContainer:active {
    animation: linkHover 0.5s ease;
    background-color: #949494;
}

.linkBoxItemImage {
    height: 75%;
    width: 75%;
    display: block;
    margin: auto;
    filter: url("shadow.svg#element-id");
}

.linkBoxItemText {
    margin-top: 0.2em;
    color: #E3E3E3;
    display: block;
    text-align: center;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        color: black;
    }
    .background {
        background-color: rgb(199, 197, 197);
    }
}