body {
    background-color: #333;
    color: #DDD;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url(noise.png);
    background-size: contain;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.7em;
}

footer *:link,
footer *:visited {
    color: white;
    text-decoration: none;
}

#container {
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    background-color: #666;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #858585;
    border-top-width: 0px;
}

#linkBox ul {
    list-style: none;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    text-align:justify;
    -moz-text-align-last: justify;
    text-align-last:justify;
}

.linkBoxItem {
    display: inline-block;
    text-align-last: auto;
    padding: 4px;

}



.LinkBoxLink:link,
.LinkBoxLink:visited {
    color: #333;
    text-align: center;
    display: inline-block;
}

.linkBoxItemImage {
    display: block;
    width: 120px;
    height: 120px;
    background-color: #BBB;
    border-radius: 8px;
    margin: auto 11px;

}

@keyframes linkHover {
    from {
        background-color: #bbb;
    }

    to {
        background-color: #949494;
    }
}

.linkBoxItemImage:hover,
.linkBoxItemImage:active {
    animation: linkHover 0.5s ease;
    background-color: #949494;
}

.linkBoxItemText {
    margin-top: 0.2em;
    color: #E3E3E3;
    display: block;
    text-align: center;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(199, 197, 197);
        background-image: none;
        color: black;
    }
}